@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './variables.scss';

:root {
  --background: #00202D;
  --foreground: #EEEFF1;
  --red-primary: #E02042;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.Title, .NavigationOption {
  font-family: "Kadwa", serif;
  font-weight: 500;
  font-style: normal;
}

.text-RedPrimary {
  color: var(--red-primary);
}

.Carousel {
  max-width: 80em;
  margin: auto;
}

.Carousel .control-arrow {
  background: transparent !important;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
}

.Carousel .control-arrow::before {
  font-size: 20px;
  color: var(--foreground);
}
